{% extends 'base/base.html' %} 
{% block title %}Process Input{% endblock %} 


{% block content %}
{% autoescape off %}
<link rel="stylesheet" href="/static/css/style2.css">
<form method="POST">
    {% csrf_token %}
    <div class="form-control my-3">
        <textarea name="data1" id="" cols="30" rows="10" placeholder="ใส่เนื้อหา">

        </textarea>
        <textarea name="data2" id="" cols="30" rows="10" placeholder="ใส่เนื้อหา">

        </textarea>
        
        
        <input type="submit" value="Sumbit" class="btn btn-info my-3">
    </div>
</form>

<main>
    <div class="boxleft">
     <section id="boxinsideleft" class="boxinsideleft">
       <h2>Originals Document</h2>&nbsp;&nbsp;<label>จำนวนคำ : <label>{{countworddata1|safe}}</label>
       <p id="content">{{HTMLTag1}}</p>
     </section>
    </div>
   
 
     
     <div class="boxright">
       <section id="boxinsideright" class="boxinsideright">
         <h2>Extractive Summary</h2>&nbsp;&nbsp;<label>จำนวนคำ : <label>{{countworddata2|safe}}</label>
         <p id="text">{{HTMLTag2}}</p>
       </section>
     </div>
 </main>


 {{HTMLTag1|safe}}///////{{HTMLTag2|safe}}



{% endautoescape %}
{% include 'frontend/chart.html'%}







{% endblock content %}
